/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.header {
  background-color: none;
  border: none;
}

.content {
  border: none;
  display: flex;
  flex-direction: row;
}

.main {
  border: none;
}

.footer {
  border: none;
}
